div(style="width: 785px; height: 435px; overflow: hidden")
  iframe( id="busmap",
          width="100%",
          height="100%",
          style="position: relative; left: -35px; top: -200px;",
          src="http://www.ctabustracker.com/bustime/eta/eta.jsp?route=157&direction=East%20Bound&stop=Taylor%20%26%20Throop&id=6696&showAllBusses=on"
        )