script
  function compute() {
    mb = new MoneyBook();
    mb.parse($("#inputfile").val());
    mb.computeSummary();
    mb.computeSummaryByDate();
    drawChart(mb, "chart_div");
    $("#charts_div").html("");
    drawChartsByDay(mb, "charts_div");
  }
  function load_url() {
    $('#inputfile').val(money);
    $('#inputfile').scrollTop(9999);
    compute();
  }
  $(document).ready(function() {
     load_url();
   });

//
  script(src="https://www.google.com/jsapi?key=ABQIAAAAR3t5HDXL0WKLtkVAWuLT2hQDuF7iNupDIJ4DzQ-wmZWlqRknqhTBUnK9d5W-m2lyvAhpJ32tSVBcxg")

script
  google.load('visualization', '1.0', {'packages':['corechart','table']});

div.tile.triple.bg-color-pinkDark
  div.tile-content
    textarea(style="width: 590px; height: 180px; background: #7e3878; border: none; font-size: 122%; font-family: 'Open Sans'")#inputfile
    //- a(href='http://dl.dropbox.com/u/1663633/coffeescript/villa.htm') advanced view
div.tile.bg-color-pink
  div.tile-content
    div#charts(style="margin-top: -40px")
      div#chart_div
      div#charts_div