extends layout

block body
  div.page
    div(style='position: absolute; left: 560px; top: 270px; height: 400px; width: 600px;')
      h1(style="writing-mode:tb-rl; -webkit-transform:rotate(90deg); -moz-transform:rotate(90deg); -o-transform: rotate(90deg);") inVilla Dashboard
      //- h1 inVilla Dashboard
    div.page-region
      div.page-region-content
        div.tile.double-vertical.double.bg-color-yellow
          div.tile-content
            div#calendar
              include calendar
        div.tile.bg-color-pinkDark
          div.tile-content
            include bus-arrival
        div.tile.bg-color-blue
          div.tile-content
            div#meals
              include meals
        div.tile.double(style="background-color: #6ebdfc")
          div.tile-content
            div#weather
              include weather    
        div#debiti
          include debiti
        div#board
          include board