!!!
html
  head
    title= title
    script(type="text/javascript", src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js")
    script(type="text/javascript", src="js/date_formatter.js")
    script(type="text/javascript", src="js/abbrev.js")
    script(type="text/javascript", src="js/moneybook_helper.js")
    script(type="text/javascript", src="js/moneybooklib.js")
    script(type="text/javascript", src="js/moneybook.js")
    script(type="text/javascript", src="js/jsapi.js")
    script(type="text/javascript", src="https://gist.github.com/raw/4535097/")
  
  body
    block body