!!!
html
  head
    title= title
    
    script(type="text/javascript", src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js")
    script(type="text/javascript", src="js/date_formatter.js")
    script(type="text/javascript", src="js/abbrev.js")
    script(type="text/javascript", src="js/moneybook_helper.js")
    script(type="text/javascript", src="js/moneybooklib.js")
    script(type="text/javascript", src="js/moneybook.js")
    script(type="text/javascript", src="js/jsapi.js")
    script(type="text/javascript", src="https://gist.github.com/raw/4535097/")
    script(type="text/javascript", src="/socket.io/socket.io.js")
    script(type="text/javascript", src="js/tile-animation.js")
    script(type="text/javascript", src='js/meals/refresh.js')
  
    //link(rel="stylesheet", href="stylesheets/base.css")
    //link(rel="stylesheet", href="stylesheets/skeleton.css")
    //link(rel="stylesheet", href="stylesheets/layout.css")
    link(rel="stylesheet", href="stylesheets/modern.css")
    link(rel="stylesheet", href="stylesheets/modern-responsive.css")
    link(rel="stylesheet", href="stylesheets/style.css")
    link(rel="stylesheet", href="stylesheets/tile-animation.css")

  body
    block body