body {
	/*background-color: #eee;*/
}

tr {
	/*background-color: #eee;*/
}

tr.pending {
	/*background-color: red;*/
}

tr.updated {
	/*background-color: white;*/
}

td {
	text-align: center;
	height: 100px;
}

td a {
	margin: auto;
}

th {
	font-family: "Open Sans";
	font-weight: normal !important;
	font-size: 2em;
	line-height: 2em;
	/*padding-top: 30px;*/
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
	.input-control.switch {
		/*left: -100px !important;*/
	}
}

label * {
	display: block;
}

.input-control.switch {
	margin-bottom: 130px !important;
	width: 200px;
}

.input-control.switch.lunch .helper:before {
	background-color: #ffc40d;
}

.input-control.switch.dinner .helper:before {
	background-color: #2d89ef;
}

.input-control.switch .helper:before {
	height: 75px !important;
	width: 200px !important;
}

.input-control.switch .helper:after {
	height: 75px !important;
	width: 30px !important;
	left: 170px !important;
}