body {
	background: white;
}

.page {
    width: 940px ;
    margin: auto;
    background-color: #fff;
}

#meals {
	table {
		margin-top: 20px;
		td {
			border: none;
		}
		tr {
			border: none;
		}
	}
}

#meals table {
	tr td {line-height: 16px;}
	div.mycheckbox {
			width: 10px;
			height: 10px;
			background: #61a6f0;
	}
	tr.updated {
		div.mycheckbox {
			background: #2d89ef;
			&.mychecked {
				background: #ffffff !important;
			}
		}
	}
}

.arrivaltimes {
	.timetable{
  		min-height: 35px;
	}
	.bus157 {
		background: url('../images/157.png') no-repeat bottom left;
	}
	.bus12 {
		background: url('../images/12.png') no-repeat bottom left;
	}
	table {
		td {
			text-align: right;
			margin: 0;
			padding: 0;
			border: none;
		}
		tr {
			margin: 0;
			padding: 0;
		}
		padding-top: 14px;
		margin: 0;
		padding: 0;
		baseline-shift: sub;
	}
}