body {
	background: white;
}

.page {
    width: 940px ;
    margin: auto;
    background-color: #fff;
}

#meals {
	table {
		margin-top: 20px;
		td {
			border: none;
		}
		tr {
			border: none;
		}
	}
}