/* line 1, ../sass/style.scss */
body {
  background: white;
}

/* line 5, ../sass/style.scss */
.page {
  width: 940px;
  margin: auto;
  background-color: #fff;
}

/* line 12, ../sass/style.scss */
#meals table {
  margin-top: 20px;
}
/* line 14, ../sass/style.scss */
#meals table td {
  border: none;
}
/* line 17, ../sass/style.scss */
#meals table tr {
  border: none;
}
