/* line 1, ../sass/style.scss */
body {
  background: white;
}

/* line 5, ../sass/style.scss */
.page {
  width: 940px;
  margin: auto;
  background-color: #fff;
}

/* line 12, ../sass/style.scss */
#meals table {
  margin-top: 20px;
}
/* line 14, ../sass/style.scss */
#meals table td {
  border: none;
}
/* line 17, ../sass/style.scss */
#meals table tr {
  border: none;
}

/* line 24, ../sass/style.scss */
#meals-people tr td {
  line-height: 16px;
}
/* line 25, ../sass/style.scss */
#meals-people div.mycheckbox {
  width: 10px;
  height: 10px;
  background: #61a6f0;
}
/* line 31, ../sass/style.scss */
#meals-people tr.updated div.mycheckbox {
  background: #2d89ef;
}
/* line 33, ../sass/style.scss */
#meals-people tr.updated div.mycheckbox.mychecked {
  background: #ffffff !important;
}

/* line 41, ../sass/style.scss */
.arrivaltimes .bus157 {
  background: url("../images/157.png") no-repeat bottom left;
}
/* line 44, ../sass/style.scss */
.arrivaltimes table {
  margin: 0;
  padding: 0;
  baseline-shift: sub;
}
/* line 45, ../sass/style.scss */
.arrivaltimes table td {
  text-align: right;
  margin: 0;
  padding: 0;
  border: none;
}
/* line 51, ../sass/style.scss */
.arrivaltimes table tr {
  margin: 0;
  padding: 0;
}
